#adminSignInPage{
    background-image: url("../assets/img/bkgr_spaceBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#adminSignInForm {
    height: calc(100vh - 50px);
}

#adminSignInForm form{
    background: rgba( 30, 30, 30, 0.25 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#crudSection {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#crudSection table{
    --bs-table-hover-color: var(--light-blue);
    max-height: calc(125vh - 5rem);
    overflow: auto;
    padding-right: 2.5rem;
    grid-template-columns: auto auto auto;
    width: 100%;
}

#crudSection th {
    padding: 1rem;
    border-radius: 15px;
    background: rgba(30, 30, 30, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(11px) !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
    font-weight: bold;
}
  
#crudSection td {
    padding: 1rem;
    border-radius: 15px;
    background: rgba(30, 30, 30, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(11px) !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

#crudSection .multiselect-dropdown option {
    color: black;
}

#crudSection .multiselect-dropdown option:checked {
    background-color:var(--light-blue);
}

#crudSection .form-select optgroup option {
    color: black;
}

#crudSection .form-select optgroup {
    color: black;
}

#exerciseCreationForm .form-select option {
    color: black;
}