#adminSignInForm {
    color: #f0f0f0;
    background-image: url("../assets/img/bkgr_spaceBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.crudSection .table{
    --bs-table-hover-color: var(--light-blue);
}

.form-select {
    background-color: black;
    --bs-body-color: white; 
}

.multiselect-dropdown option:checked {
    background-color:var(--strong-blue);
    color: white;
}
  