.btnPrimary{
    background-color: var(--middle-blue);
    color: #f0f0f0;
    transition: all ease .5s;
}
.btnPrimary:hover{
    background-color: var(--strong-blue);
    color: #f0f0f0;
}
.btnSecondary{
    color: #686868;
    border-color: #686868;
    border-width: 1px;
}
.btnSecondary:hover{
    color: #f0f0f0;
    background-color: #686868;
}

/*Landing page buttons*/
nav .btnPrimary{
    color: #f0f0f0;
    background-color: #ffffff00;
    border-color: #f0f0f0;
    border-width: 1px;
}
nav .btnPrimary:hover{
    color: #f0f0f0;
    background-color: var(--strong-blue);
    border-color: var(--strong-blue);
}