@font-face {
    font-family: 'Inter';
    src: url('../../public//fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url('../../public/fonts/CONSOLA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}