form{
    padding: 30px 40px;
    border-color: #d6d6d6;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
}
form button{
    transition: all ease 0.5s;
    width: 100%;
}
@media screen and (max-width: 600px) {
    form {
      width: 90%;
    }
}
/*SignIn.jsx*/
#signInForm{
    height: 90vh;
}
#signInForm .btnPrimary{
    background-color: var(--middle-blue);
    color: #f0f0f0;
}
#signInForm .btnPrimary:hover{
    background-color: var(--strong-blue);
}
#signInForm .btnSecondary{
    color: #686868;
    border-color: #686868;
    border-width: 1px;
}
#signInForm .btnSecondary:hover{
    color: #f0f0f0;
    background-color: #686868;
}

/*SignUp.jsx*/