.custom-form {
    min-width: 35%;
    padding: 30px 40px;
    border-color: #d6d6d6;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    transition: all ease 0.5s;
}

.custom-form button {
    transition: all ease 0.5s;
    width: 100%;
}

.custom-form .text-danger {
    color: var(--warning-color);
    font-size: 0.8rem;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset; /* Establece un sombreado blanco para anular el estilo predeterminado */
    -webkit-text-fill-color: var(--light-blue); /* Establece el color del texto para anular el estilo predeterminado */
}

#adminSignInForm .form-group input,
#signInForm .form-group input,
#signUpForm .form-group input,
#resetPasswordForm .form-group input {
    background-color: rgba(0, 0, 0, 0);
    color: var(--light-blue);
}
#resetPswdForm{
    background: rgba( 30, 30, 30, 0.25 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.form-group input::placeholder{
    color: gray;
}

@media screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}

#signInForm,
#signUpForm,
#resetPasswordForm {
    color: #f0f0f0;
    background-image: url("../assets/img/bkgr_spaceBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*SignIn.jsx*/
#signInForm .img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 34rem;
    height: 17rem;
    overflow: hidden;
}

#signInForm #marsImage {
    width: 100%;
    transform: translateY(10%);
}

#signInForm form {
    border-width: 0px;
    transform: translateY(-7rem);
}

@media screen and (max-width: 600px) {
    #signInForm .img {
        max-width: 90%;
    }
}

/*SignUp.jsx*/
#signUpForm form {
    border-width: 0px;
    min-width: 50%;
}

.select {
    display: flex;
    justify-content: space-between;
}

.select .btnResize {
    margin: 5px;
    flex-basis: 50%;
    transition: flex-basis 0.3s ease-in-out;
}

.select .btnResize:hover {
    flex-basis: 80%;
}

.next-back button {
    width: fit-content;
}

/*ResetPassword.jsx*/
#resetPasswordForm .container {
    justify-content: space-around;
}

#resetPasswordForm form {
    width: 25rem;
}

#resetPasswordForm form input {
    background-color: rgba(0, 0, 0, 0);
    color: var(--light-blue);
}

#resetPasswordForm form input::placeholder {
    color: gray;
}

#resetPasswordForm .img {
    max-width: 25rem;
    position: relative;
    animation: up-down 2s ease-in-out infinite;
}

#resetPasswordForm #astronautImage {
    height: 100%;
    width: 100%;
}

#resetPswdForm{
    border-radius: 10px;
    padding: 2rem;
}

.resetPswd-container{
    align-items: center !important;
}

@keyframes up-down {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 15px;
    }
    100% {
        bottom: 0;
    }
}

@media screen and (max-width: 991px) {
    #resetPasswordForm .img {
        display: none;
    }
}
