@import url('./fonts.css');

/* VARIABLES */
:root{
  /* MAIN COLOR PALLETE VARS */
  --light-blue: #1CC6EC;
  --middle-blue: #0D93CC;
  --strong-blue: #096B95;
  --warning-color: #F24444;
  --bckg-color: #051923;
  
  /* IDE PAGE VARS */
  --ide-components-padding: 30px 20px;
  --main-ide-gray: #383838;
  --compiler-theme-color: rgb(30, 30, 30);
  --button-ide-green: rgb(17, 226, 107);
  --button-ide-blue: #1CC6EC;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #f0f0f0;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: #080909;
}
#landingPage{
  background-image: url("../assets/img/bkgr_spaceBackground2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.gradient {
  background: linear-gradient(to right, var(--light-blue), var(--strong-blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer svg{
  height:80px;
  width: 100%;
}
.footer .container{
  padding: 25px;
  color: silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  text-align: center;
}
.footer .container *{
  margin-bottom: 20px;
}
.footer .container p{
  max-width: 90%;
}
.footer .container .fotterLinks{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.footer .container .fotterLinks li{
  margin: 5px 10px;
}
.footer .container .fotterLinks a{
  color: silver;
  text-decoration: none;
}
.footer .container .fotterLinks a:hover{
  color: var(--light-blue);
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #424242;
}
::-webkit-scrollbar-thumb {
  background: #686868;
  transition: all 0.5s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #7B7B7B;
}

/*Common classes*/
.content{
  height: 100vh;
}
.startSection{
  height: calc(100vh - 50px);
}
.container-c{
  display: flex;
  align-items: center;
}
.container-cc{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-cl{
  display: flex;
  align-items: center;
  justify-content: left;
}
.container-cr{
  display: flex;
  align-items: center;
  justify-content: right;
}
.lateral{
  width: 40%;
  height: 100%;
  background-color: var(--bckg-color);
}