#landingPage *{
    transition: all ease 0.5s;
}
#landingPage #section1{
    color: #f0f0f0;
    text-align: center;
    justify-content: space-between;
}
#landingPage #section1 h2{
    margin: 0;
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
}
#landingPage #section1 .img{
    max-width: 28rem;
}
#moonImage {
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 1115px) {
    #landingPage #section1 h2 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 600px) {
    #landingPage #section1 {
        flex-direction: column;
        justify-content: center;
    }
    #landingPage #section1 h2 {
        font-size: 1.5rem;
        text-align: center;
        margin: 35px 35px;
    }
    #landingPage #section1 .img{
        max-width: 20rem;
    }
}