.customNavbar{
    height: 50px;
    padding: 20px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(10, 10, 10, 1), rgba(255, 255, 255, 0));
}
.navContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navContent ul {
    margin: 0;
}
.brand{
    color: #f0f0f0;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none; 
}
.navRight{
    display: flex;
}
.navLinks, .navTabs{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navLinks a, .navTabs li{
    cursor: pointer;
    font-size: 14px;
    color: #f0f0f0;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.navLinks a:hover, .navTabs li:hover{
    color: var(--light-blue);
}
.navItem{
    margin: 0px 10px
}
.navComponent{
    margin-left: 15px;
}
.userDropdown-btn{
    padding: 10px;
    border-width: 0;
    background-color: rgba(0, 0, 0, 0)
}
.dropdown-menu{
    display: block;
    width: 15rem;
}
.dropdown-menu button{
    color: var(--warning-color);
}
.dropdown-menu button:hover{
    color: var(--warning-color);
}
.userInfo *{
    padding: 5px 15px;
}
.userDropdown-menu{
    right: 0;
    left: auto;
}

/*
.toggle_btn{
    display: none;
    margin-left: 15px;
    padding: 0;
}
.toggle_btn svg {
    height: 1.2rem;
    width: fit-content;
}
.toggle_btn svg:hover{
    cursor: pointer;
}
.toggle_btn svg > path{
    fill: #f0f0f0;
}
.toggle_btn svg:hover > path{
    fill: var(--light-blue);
}

@media (max-width: 1000px){
    .navContent{
        position: fixed;
    }
    .toggle_btn{
        display:block;
    }
    .navLinks{
        display: none;
    }
    .open{
        display: block;
        position: fixed;
        padding: 10px;
        padding-top: 50px;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--bckg-color);
        flex-direction: column;
        z-index: -1;
    }
    .navItem{
        text-align: left;
        width: 100%;
        padding: 3px 0;
        margin: 0;
    }
}*/

/*Landing page navbar*/
#landingPage .brand{
    background: linear-gradient(to right, var(--light-blue), var(--strong-blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}