.subtema-main-container{
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;
    transition: all ease 400ms;
    display: flex;
    justify-content: space-between;
    transition: all ease 0.5s;
}
.subtema-main-container-hidden > .subtema-info-container {
    display: none;
}
.subtema-available{
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
}
.subtema-available:hover{
    background-color: rgb(52, 52, 52);
}
.subtema-blocked{
    background: rgba(12, 12, 12, 0.25);
    backdrop-filter: blur( 11px );
}
.subtema-blocked span{
    color: rgb(68, 68, 68);
}
.subtema-blocked .subtema-info-container{
    display: none;
}
.subtema-main-container span{
    display: block;
    cursor: pointer;
    transition: all ease 0.5s;
}
.subtema-info-container{
    display: flex;
}
.excercise-link{
    width: 200px;
    text-align: center;
}
.selectBtn{
    width: 100%;
}
.progress{
    background-color: rgba(0, 0, 0, 0.268);
}
.excercise-racha{
    display: flex;
    justify-content: center;
}
.excercise-racha svg{
    height: 15px;
}
.subtema-main-container-show{
    display: flex;
    align-items: center;
}
.subtema-main-container-show span{
    font-size: 18px;
}
@media screen and (max-width: 1115px) {
    .subtema-main-container {
        flex-direction: column;
    }
    .subtema-title, .subtema-info-container{
        justify-content: center;
    }
    .subtema-main-container-show span{
        margin-bottom: 1rem;
        text-align: center;
    }
}
.practice-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 45px;
    margin-right: 1rem;
}
.practice-svg svg{
    height: 80%;
    width: 100%;
    fill: linear-gradient();
}
