.subtema-main-container{
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;
    transition: all ease 400ms;
    display: flex;
}
.subtema-main-container-hidden > .subtema-info-container {
    display: none;
}
.subtema-available{
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
}
.subtema-available:hover{
    background-color: rgb(52, 52, 52);
    cursor: pointer;
}
.subtema-blocked{
    background: rgba(12, 12, 12, 0.25);
    backdrop-filter: blur( 11px );
}
.subtema-blocked span{
    color: rgb(68, 68, 68);
}
.subtema-blocked .subtema-info-container{
    display: none;
}
.subtema-main-container span{
    display: block;
    width: 100%;
}
.subtema-info-container{
    display: flex;
}
.excercise-link{
    width: 200px;
    text-align: center;
}
.selectBtn{
    width: 100%;
}
.progress{
    background-color: rgba(0, 0, 0, 0.268);
}