.tema-main-container{
    width: 100%;
    transition: all ease 0.5s;
}
.tema-main-container h3{
    transition: all ease 0.5s;
    font-weight: bold;
}
.tema-subtemas-container{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.tema-main-container-hidden > .tema-subtemas-container {
    display: none;
}
.tema-card{
    width: 100%;
    border-radius: 10px;
    transition: text-align 0.5s ease;
}
.tema-card:hover{
    cursor: pointer;
}
.tema-main-container-show h3{
    text-align: center;
}