.groups-creation-main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.grupo-card-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.grupo-card-info > h1 {
  font-size: 30px;
  font-weight: bold;
}

.grupos-btns-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.grupos-btn {
  height: 30px;
  font-size: 80%;
  text-overflow:ellipsis;
  width: 45%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 10rem);
}

.groups-title-container {
  font-weight: bold;
  padding-left: 8rem;
}

.group-button {
  padding-left: 9rem;
  padding-bottom: 0.5rem;
}

.grupos {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.grupos-card {
  background-color: transparent;
  border: none;
}

.grupos>div {
  padding: 1rem;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
  border-radius: 15px;
  background-color: transparent;
  backdrop-filter: blur(11px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.grupos .card-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f0f0f0 !important;
}

.grupos .card-text {
  color: #f0f0f0 !important;
}

.grupos .bottom-section {
  margin-top: 1rem;
}

.grupos .top-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}